<div class='profile-container'>

  <h3>Restore Password</h3>
  <h4>Send a email to refresh your password</h4>
  <div class='uk-padding-large uk-child-width-1-1' uk-grid>
    <h4>Please enter your email address</h4>
    <form
      action='http://localhost:8080/api/users/send-mail-refresh-pass'
      method='post'
    >
      {{#if route.hasError}}
        <div class='uk-margin'>
          <div class='uk-inline'>
            <span
              style='color: rgb(224, 110, 110); font-size: 18px; font-weight: bold;'
            >{{route.error}}</span>
          </div>
        </div>
      {{/if}}

      <div class='uk-margin'>
        <div class='uk-inline'>
          <label for='email'>email</label>
          <input
            name='email'
            id='email'
            class='uk-input'
            type='email'
            value=''
          />
        </div>
      </div>

      <button id='btn-send' class='uk-button uk-button-default'>Send</button>

    </form>
    <div class='uk-margin'>
      <div class='uk-inline'>
        <span>Back to
          <a href='/login'>Login</a></span>
      </div>
    </div>

  </div>

</div>