html {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

body div.uk-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  align-items: stretch;
  height: 100%;
  padding: 15px;
}

.align-right {
  text-align: right;
}
.title {
  padding: 30px;
}

h1 {
  font-size: 36px;
}

.chat {
  max-height: calc(100% - 50px);
  margin: 0;
}

#messages {
  border: 2px solid steelblue;
  padding: 20px 0 0 20px;
  margin: 20px 0 0 20px;
  align-items: flex-start;
  align-content: baseline;
  overflow-y: scroll;
  max-height: calc(100% - 50px);
}
#messages .joined {
  justify-content: center;
}

.inputBox {
  align-self: last baseline;
}

.inputBox input {
  margin-top: 20px;
  padding: 30px;
  width: 100%;
}
