<div>
 Products in this cart
</div>

<ul id="products-list">
{{#each products}}
  <li>
    {{this}}
{{/each}}
</ul>
<div id="totalPay">Total to pay: ${{total}}</div>

<button id='btn-buy' class='uk-button uk-button-default'> Buy </button>