<div id='main-container'>
  <div id='form-main-container'>
    <div id='form1'>
      <h3>Upload a Image of your products</h3>
      <h4>You must be the owner of the product</h4>
      <div>

        <h4>Please enter the product's id and select a image file</h4>
        <form
          action='/api/products/upload-image'
          enctype='multipart/form-data'
          method='post'
        >

          <div class='uk-margin'>
            <div class='uk-inline'>
              <label for='prooductId'>Product ID</label>
              <input
                name='productId'
                id='productId'
                class='uk-input'
                type='text'
                value=''
              />
            </div>
          </div>

          <div class='uk-margin'>
            <div class='uk-inline'>
              <label for='file'>select file</label>
              <input
                name='uploadedFile'
                id='uploadedFile'
                class='uk-input'
                type='file'
              />
            </div>
          </div>

          <button
            id='btn-send'
            class='uk-button uk-button-default'
          >Send</button>

        </form>

      </div>
    </div>
    <div id='form2'>
      <h3>Upload a Image for your profile</h3>
      <div>

        <h4>Please select a image file</h4>
        <form
          action='/api/users/upload-profile-photo'
          enctype='multipart/form-data'
          method='post'
        >

          <div class='uk-margin'>
            <div class='uk-inline'>
              <label for='file'>select file</label>
              <input
                name='uploadedFile'
                id='uploadedFile'
                class='uk-input'
                type='file'
              />
            </div>
          </div>

          <button
            id='btn-send'
            class='uk-button uk-button-default'
          >Send</button>

        </form>

      </div>
    </div>
    <div id='form4'>
      <h3>Upload a PDF document</h3>
      <div>

        <h4>Please select a PDF file</h4>
        <form
          action='/api/users/upload-pdf'
          enctype='multipart/form-data'
          method='post'
        >
          <h3>Cargar los archivos</h3>

          <div class='uk-margin'>
            <div class='uk-inline'>
              <label for='file'>Identificacion</label>
              <input
                name='id'
                id='uploadedFile1'
                class='uk-input'
                type='file'
              />
            </div>
          </div>

          <div class='uk-margin'>
            <div class='uk-inline'>
              <label for='file'>Comprobante Direccion</label>
              <input
                name='address'
                id='uploadedFile2'
                class='uk-input'
                type='file'
              />
            </div>
          </div>

          <div class='uk-margin'>
            <div class='uk-inline'>
              <label for='file'>Comprobante Estado Cuenta</label>
              <input
                name='account'
                id='uploadedFile3'
                class='uk-input'
                type='file'
              />
            </div>
          </div>

          <button
            id='btn-send'
            class='uk-button uk-button-default'
          >Send</button>

        </form>

      </div>
    </div>
    <div id='form3'>
      <h3>Upload any file</h3>
      <div>

        <form
          action='/api/users/upload-generic-file'
          enctype='multipart/form-data'
          method='post'
        >

          <div class='uk-margin'>
            <div class='uk-inline'>
              <label for='file'>select file</label>
              <input
                name='uploadedFile'
                id='uploadedFile'
                class='uk-input'
                type='file'
              />
            </div>
          </div>

          <button
            id='btn-send'
            class='uk-button uk-button-default'
          >Send</button>

        </form>

      </div>
    </div>
  </div>
  <div id='secondary-elements'>
    {{#if route.hasError}}
      <div class='uk-margin'>
        <div class='uk-inline'>
          <span
            style='color: rgb(224, 110, 110); font-size: 18px; font-weight: bold;'
          >{{route.error}}</span>
        </div>
      </div>
    {{/if}}

    <div class='uk-margin'>
      <div class='uk-inline'>
        <span>Back to
          <a href='/'>Home</a></span>
      </div>
    </div>
  </div>
</div>