
<div class="uk-padding-large uk-child-width-1-1" uk-grid>
  <h3>Please, log you!</h3>
  <form action="http://localhost:8080/api/sessions/login" method="post">
    
    <div class="uk-margin">
      <div class="uk-inline">
        <input name="email" class="uk-input" type="text" placeholder="E-mail">
      </div>
    </div>


    <div class="uk-margin">
      <div class="uk-inline">
        <input name="password" class="uk-input" type="password" placeholder="password">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
        <a href="/api/sessions/login/github">Log-in with Git-Hub</a>
      </div>
    </div>

    <button class="uk-button uk-button-default">Log-in !</button>

  </form>

   <div class="uk-margin">
      <div class="uk-inline">
        <span>you dont have an account? <a href="/singup">Sing-up!</a></span>
      </div>
    </div>

</div>