body {
  display: flex;
  flex-direction: column;
}

#main-container {
  display: flex;
  flex-direction: column;
  /* border: red 2px solid; */
}

#secondary-container {
  display: flex;
  flex-direction: row;
  /* border: blue 2px solid; */
}

#form1 {
  color: black;
  top: 15px;
  margin: 15px;
  border: 6px solid rgb(30, 119, 31);
  padding: 15px;
  width: 400px;
}
#user-info-container {
  color: black;
  top: 15px;
  margin: 15px;
  border: 6px solid rgb(69, 82, 156);
  padding: 15px;
  width: 400px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.buttons {
  margin: 10px;
  margin-top: 20px;
  padding: 20;
  color: #ffffffb9;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.buttons:hover {
  color: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.btn-1 {
  background-color: #77bad4;
}

.btn-1:hover {
  background-color: #6387c9;
}

.btn-2 {
  background-color: #94d477;
}

.btn-2:hover {
  background-color: #83c963;
}
.btn-3 {
  background-color: #d48977;
}

.btn-3:hover {
  background-color: #c96a63;
}
